/* Changes Done in  New Section */
.SecondSectionContainer {
  height: 120vh;
  width: 90%;
  background-color: white;
  position: relative;
  top: 5vmax;
  left: 3vmax;
  border-radius: 1.5vmax;
  margin: 2vmax;
  box-shadow: 0 0 15px var(--color-soft-darkwhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8vmax;
}

.leftsect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg1 {
  box-sizing: border-box;
  width: 100%;
  height: 75vh;
  background-color: var(--color--white);
  border-radius: 15px;

}

.profileImg1 img {
  height: inherit;
}

.sociallinks {

  position: relative;
  background-color: white;
  padding: 2vmax 1vmax;
  top: -3vmax;
  border-radius: 8px;
  width: 70%;
  box-shadow: 0px 0px 10px var(--color-soft-dark);
}

.sociallinks ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 40px;
  font-size: 1.5vmax;

}

.ThirdSectionContainer{
  height: 100vh;
  width: 90%;
  background-color: white;
  position: relative;
  top: 25vmax;
  left: 3vmax;
  border-radius: 1.5vmax;
  margin: 2vmax;
  box-shadow: 0 0 15px var(--color-soft-darkwhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8vmax;
}



/*
.Experinces {
  margin-right: 200px;
}

.experince h1 {
  font-size: 40px;
  margin-bottom: 2.5vmax;
}

.experince p {
  width: 80%;
  line-height: 20px;
  font-size: var(--font-size-regular-small);
  letter-spacing: 0.5px;
  color: var(--color-soft-ex-dark);
  margin-bottom: 30px;
}

*/