.footer {
    background: var(--color-gray-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    flex-direction: column;
    width: 100%;
}

.profile-data {
    margin-top: 9vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.footericon img {
    margin-right: 10vmax;
    filter: invert(100);
    transform: scale(1.5);
}


.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left p {
    font-size: 1vmax;
    padding-top: 8vmax;
}

.footer-center ul {
    justify-content: space-evenly;
    padding-right: 18vmax;
    list-style: none;
    display: flex;
    gap: 2vmax;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1vmax;
    transition: 0.3s;
}

.footer-right p {
    font-size: 1.1vmax;
}

