.FourthContainerClass {
  max-width: 100%;
  height: 100vh;
  width: 100%;
  margin-bottom: 500vmax;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15vmax;
}

/* Portfolio heading + para */
.recentWORKS {
  text-align: center;

}

.recentWORKS h1 {
  font-size: 5vmax;
  color: var(--color-primary);
}

.recentWORKS h2 {
  position: relative;
  font-size: 8vmax;
  color: var(--color-soft-darkwhite);
  bottom: 6vmax;
  z-index: -1;
  font-weight: bold;
}

.recentWORKS p {
  margin-top: -7vmax;
  font-size: var(--font-size-regular-large);
  color: #555;
  line-height: 1.2;
  margin-bottom: 4vmax;
}

.myworks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.myworks>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  min-height: 220px;
  width: 25vmax;
}

.work1 {
  display: flex;

}

.work1 img {
  width: inherit;
}