/* .leftsect {
  display: flex;
  align-items: center;
} */

.profileImg img {
  width: 450px; 
  border-radius: 15px; 
  margin-bottom: 20px; 
}


.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50vmax;
}

.sociallinks ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding-bottom: 80px;
}
/* .sociallinks ul li{
  display: flex;
  flex-direction: row;
  justify-content: center;

} */
