.ThirdSectionContainer {
    position: relative;
    top: 25vmax;
    margin: 2vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 8vmax;
}


.worksdone h1 {
    font-size: 40px;
    padding-bottom: 20px;
}


.worksdone {
    flex: 1;
}

.worksdone p {
    padding-top: 30px;
    line-height: 22px;
    font-size: var(--font-size-regular-large);

    color: var(--color-soft-ex-dark);
    margin-bottom: 20px;
}

.working {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5vmax;
}

.processfeatures {
    flex: 1;
    display: grid;
    gap: 2.5vmax;
    margin-left: 2vmax;
}

.feature1 {
    display: flex;
    gap: 1.5vmax;
}

.feature2 {
    display: flex;
    gap: 1.5vmax;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 1vmax;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 0.5vmax;
    width: 18vmax;
    position: relative;
    height: 16vmax;
    justify-content: center;
    line-height: 22px;
    font-size: var(--font-size-regular-large);
    letter-spacing: 0.5px;
    color: var(--color-soft-ex-dark)
}

.card:hover {
    box-shadow: 0 6px 40px rgb(0, 0, 0, 0.15);
}

.c1 {
    bottom: 1.5vmax;
}

.c3 {
    bottom: 2vmax;
}

.c4 {
    bottom: 1vmax;
}

.card h3 {
    color: #333333;
    margin-bottom: 8px;
}

.card p {
    color: #555;
    font-size: 14px;
    line-height: 20px;
}

.card i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    color: var(--color-primary);
    background-color: var(--color-primary-light);
    width: 3.5vmax;
    height: 3.5vmax;
    border-radius: 5px;
    padding: 1vmax;
    margin-bottom: 1.5vmax;
}

.card:hover .i-hover {
    color: rgb(255, 255, 255);
    background-color: var(--color-primary-dark);
}